.login-page-container {
    background-image: linear-gradient(var(--light-blue), var(--dark-blue));
    max-width: 100%;
    min-height: calc(100vh - 58px); /*Header offset*/
    padding: 50px;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 97px;
    justify-content: center;
}
