.login-page-section-container {
    background-image: linear-gradient(var(--light-blue), var(--dark-blue));
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 97px;
    justify-content: center;
    align-content: center;
    padding: 50px;
}
