.bntLogin {
    border: none;
    background: none;
    background-image: linear-gradient(var(--light-blue), var(--dark-blue));
    border-radius: 35px;
    height: 66px;
    width: 100%;
    font-size: 30px;
    color: var(--white);
    transition: all 0.15s ease;
}

.bntLogin:hover {
    background-image: linear-gradient(var(--light-blue-darkened), var(--dark-blue-darkened));
    cursor: pointer;
}

.bntLogin:hover:active {
    background-image: linear-gradient(var(--light-blue-darkened2), var(--dark-blue-darkened2));
    transform: scale(0.95);
}
