header {
    height: 58px;
    width: 100%;
}

header > nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}

#user-image {
    height: 40px; 
    
}

body {
    background-color: var(--light-blue);
} 

.calendario {
    font-family: SansitaOne;
    font-size: 35px;
    margin-left: 70px;
    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 4px #0000005e;
}
