
.main-page-container {
    background-image: linear-gradient(var(--light-blue), var(--dark-blue));
    flex-direction: row;
    min-height: calc(100vh - 58px); /*Header offset*/
    max-width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.main-page-container > div {
    
}