:root {
  --white: #FFFFFF;
  --light-blue: #00B3FF;
  --dark-blue: #1945B7;

  --input-color: #E8E8E8;

  --a-color: #117EFF;

  /* USADO EM BOTÕES */
  --light-blue-darkened: #00a7ee;
  --dark-blue-darkened: #153c9c;

  --light-blue-darkened2: #029ee0;
  --dark-blue-darkened2: #173a92;
}

.App {
  text-align: left;
  font-family: "Abbeze";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'Inika-Regular';
  src: url("../fonts/Inika-Regular.ttf");
}

@font-face {
  font-family: 'SansitaOne';
  src: url("../fonts/SansitaOne.ttf");
}

@font-face {
  font-family: 'ABeeZee-Regular';
  src: url("../fonts/ABeeZee-Regular.ttf");
}

a {
  color: var(--a-color);
  /*text-decoration: none;*/
}

a:visited {
  color: var(--a-color);
}

#Login-page {
  display: flexbox;
  justify-content: center;
  text-align: center;
  padding-top: 20vh;
  padding-left: 5%;
  padding-right: 5px;
  padding-bottom: 10vh;
  box-sizing: border-box;
  background-image: linear-gradient(var(--light-blue), var(--dark-blue));
  min-height: 100vh; /*MDS EU TINHA QUE USAR MIN-HEIGHT AO INVES DE HEIGHT, ANTES TAVA BUGANDO TUDO QUANDO DAVA ZOOM*/
}

#about {
  font-size: 36px;
  padding-right: 97px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: var(--white);
}

#about > p {
  font-family: Inika-Regular;
}

#about > h1 {
  font-family: SansitaOne;
  font-size: 61px;
  text-shadow: 4px 4px 4px #0000005e;
}

#login {
  font-family: ABeeZee-Regular;
  text-align: left;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 2rem;
  height: 564px;
  width: 438px;
  background-image: linear-gradient(var(--white), #e6e6e6);
  margin: 0 auto;
  padding: 85px 56px 81px 56px;
  box-shadow: 4px 4px 37px rgba(0, 0, 0, 0.55);
  border-radius: 8px;
  font-size: 30px;
}

#login input[type="password"], input[type="email"] {
  background-color: var(--input-color);
  border: none;
  height: 47px;
  width: 100%;
  border-radius: 8px;
  font-size: 24px;
  box-sizing: border-box; /*A borda tava mudando a posição dos outros elmeentos HTML*/
}

#login input:focus {
  outline: none;
  border: 1px solid rgb(182, 182, 182);
}

#login button {
  padding: 0;
  border: none;
  background: none;
  background-image: linear-gradient(var(--light-blue), var(--dark-blue));
  border-radius: 35px;
  height: 66px;
  width: 100%;
  font-size: 30px;
  color: var(--white);
}

#login button:hover {
  cursor: pointer;
  background-image: linear-gradient(var(--light-blue-darkened), var(--dark-blue-darkened));
}

#login button:hover:active {
  animation: button-click-anim 0.15s forwards;
  background-image: linear-gradient(var(--light-blue-darkened2), var(--dark-blue-darkened2));
}

@keyframes button-click-anim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.98);
  }
}

#login:hover {
  animation-play-state:running;
}

#login:not(:hover) {
  animation-play-state:paused;
}

